@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    flex-shrink: 0;
}

.fc-event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: calc(100% - 20px);
    pointer-events: none;
}

.red-alert {
    color: red;
}

.fc-event-time {
    display: none;
}

#calendar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 49;
    display: none;
}

#eventModal {
    z-index: 51;
}

#eventDetailModal {
    z-index: 51;
}

#dayModal {
    z-index: 50;
}

.day-event {
    transition: background-color 0.3s;
    background-color: #f8f8f8;
}

.day-event:hover {
    background-color: #e2e8f0;
}

.fc-daygrid-day:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.fc-event:hover {
    background-color: initial;
}

.fc-event {
    cursor: default;
    pointer-events: none;
}

.fc-daygrid-day-number {
    position: relative;
    z-index: 1;
    background: #fff;
    color: inherit;
    display: inline-block;
    width: 100%;
}